{% extends 'base.html' %} 

{% block header %}{% endblock %} 

{% block content %}

<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">Логи</h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'buckets' %}">Buckets</a></li>
      <li>JSON-файл</li>
      <li>File</li>
      <li><strong>Logs</strong></li>
    </ol>
  </div>

  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="card">
          <div class="card-content">
            <div class="table-responsive">
              <ul>
                {% for log in logs %}
                  <li><strong> {{ log.time|date:'Y-m-d H:i' }} - </strong>
                    {% if log.operation == 1 %}
                      Создан бакет {{ log.bucket_name }}
                    {% elif log.operation == 2 %}
                      Удалён бакет {{ log.bucket_name }}
                    {% elif log.operation == 3 %}
                      Создан файл {{ log.file_name }} в бакете {{ log.bucket_name }}
                    {% elif log.operation == 4 %}
                      Удалён файл {{ log.file_name }} в бакете {{ log.bucket_name }}
                    {% elif log.operation == 5 %}
                      Изменён файл {{ log.file_name }} в бакете {{ log.bucket_name }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer><p>Designed by: @maksym_drv</p></footer>
  </div>
  <!-- /. PAGE INNER  -->
</div>

{% endblock %}
