{% extends 'base.html' %} 

{% block header %}{% endblock %} 

{% block content %}

<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">Логи</h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'buckets' %}">Buckets</a></li>
      <li>JSON-файл</li>
      <li>File</li>
      <li><strong>Logs</strong></li>
    </ol>
  </div>

  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="card">
          <div class="card-content">
            <div class="table-responsive">
              <ul>
                <li>
                  <strong> 19:68 </strong>ipsum
                </li>
                <li>
                  <strong> 19:68 </strong>ipsum
                </li>
                <li>
                  <strong> 19:68 </strong>ipsum
                </li>
                <li>
                  <strong> 19:68 </strong>ipsum
                </li>
                <li>
                  <strong> 19:68 </strong>ipsum
                </li>
                <li>
                  <strong> 19:68 </strong>ipsum
                </li>
                <li>
                  <strong> 19:68 </strong>ipsum
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer><p>Designed by: @maksym_drv</p></footer>
  </div>
  <!-- /. PAGE INNER  -->
</div>

{% endblock %}
